@font-face {
    font-family: "Heiti TC";
    src: url("en_num.eot"); /* IE9 */
    src: url("en_num.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("en_num.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("en_num.woff") format("woff"), /* chrome, firefox */
    url("en_num.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("en_num.svg#Heiti TC") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


